<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Watcher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  {% block head %}{% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
</body>
</html>
